.card{
    flex-basis: 22%;
}
.card img{
    border-radius: .3rem;
}
.card h2{
    font-size: 1rem;
    font-weight: 600;
    color: #4d4949;
    margin: .2rem 0;
}

.card h3{
    font-size: .9rem;
    font-weight: 600;
    color: #4d4949;
    margin: .2rem 0;
}
.card p{
    font-size: .8rem;
}
